@font-face {
    font-family: Verdana;
    src: url(Verdana.ttf);
}
@font-face {
    font-family: Verdana-bold;
    src: url(Verdana-Bold.ttf);
}

body{
    background-image: url(src/background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    }

header{
    background-color: rgba(0, 0, 0, 0.45);
    height: 50px;
    display: flex;
    /*justify-content:space-between;*/
    padding-top: 30px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 70px;
    padding-right: 1200px;
    font-family: Verdana-bold;
}
.logo :hover{
    color:rgb(49, 156, 90);
}

.right {
    display: flex;
    /*padding-right: 70px;*/
    padding-bottom: 30px;
}

.upper {
    cursor: pointer;
    display: flex;
    align-items: center;


}

.sprite:hover {
    filter: brightness(0) saturate(100%) invert(55%) sepia(36%) saturate(756%) hue-rotate(90deg) brightness(85%) contrast(89%);
}


.sprite {
    width: 45px;
    height: 50px;
    background-image: url(src/sprites.png);
    display: inline-block;


}

.calendar {
    background-position: 0px 0px;

}

.forum {
    background-position: 97px 0px;

    margin: 20px;
}

.journey {
    background-position: 45px 0px;

    margin-right: 15px;
}



.wlcm-msg  {
    color: white;
    font-family: Verdana;
    font-size: 15px;
    padding-left: 35px;
}
.wlcm-msg p{
    margin: 0 auto;
}

.wlcm-msg a {
    text-decoration: none;
    color:rgb(49, 156, 90);
}

.wlcm-msg p:hover  {
    text-decoration: underline;
}

main{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 660px
}

.authorization-form {
    width: 400px;
    height: 520px;
    background: white;
    border-radius: 10px;
}

main .sing-up{
    display: flex; 
    align-items: center; 
    height: 70px;
    font-family: Verdana;
    justify-content: space-between;
}

.green-sq{
    float: left;
    width: 15px;
    height: 15px;
    background: rgb(49, 156, 90);
}


.login a{
    text-decoration: none;
    margin-left: 150px;
    margin-right: 50px;
    color: rgb(49, 156, 90);
    font-size: 14px;
}

.login:hover{
    text-decoration: underline;  
}

.sign p{
    font-size: 18px;
}

.authorization-btn
{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.authorization-btn button{
    width: 148px;
    height: 100%;
    color: white;
    outline: auto;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-family: Verdana;
}
.authorization-btn button .logo-btn{
    width: 23px;
    display: flex;
    justify-content: center;
}

.google img{
    margin-left: 7px;
}

.authorization-btn button .divider{
    filter: brightness(0) saturate(100%) invert(0%) sepia(77%) saturate(3078%) hue-rotate(63deg) brightness(80%) contrast(106%);
}

.authorization-btn .facebook{
    background-color:rgb(67, 103, 185);
}

.authorization-btn .button-container-fb :hover {
    background-color:rgb(31, 61, 133);
}

.authorization-btn .google{
    background-color:rgb(208, 73, 64);
}

.authorization-btn .button-container-google :hover {
    background-color:rgb(170, 45, 36);
}

.button-underline{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 15px;
    align-items: center;
    color: grey;
    font-family: Verdana;
    font-size: 13px;
}

.authorization-form .sign-form {
    display: block;
    margin-left: 50px;
    margin-right: 70px;
    
} 

.authorization-form .sign-form .data-input input {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 20px;
    font-family: Verdana;
}

.authorization-form .sign-form .data-input :focus {
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

.authorization-form .checkbox{
    display: flex;
    margin-top:10px;
    margin-bottom: 30px;
    font-family: Verdana;
    font-size: 13px;
}

.authorization-form .checkbox a {
    text-decoration: none;
    color: rgb(49, 156, 90);
}

.authorization-form .checkbox label{
    display: flex;
}

.authorization-form .checkbox .link {
    margin-left: 5px;
}

.authorization-form .checkbox .link :hover {
    text-decoration: underline;
}

.authorization-form .form-button button{
    height: 40px;
    width: 303px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    background-color: rgb(69, 179, 111);
    color: white;
    font-family: Verdana;
    font-size: 15px;
}

.authorization-form .form-button :hover{
    background-color: rgb(41, 143, 80);
}

input[type='checkbox'] {
    accent-color: #d13b7b;
}







