body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="date"] {
    width: 96%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid salmon;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: seagreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: slategray;
}

h2 {
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
